In [1]:

import pandas as pd
from datetime import datetime
from schema_pandera import SchemaCorpApolice, SchemaDimCorpApolice  # Substitua pelo caminho correto do seu mÃ³dulo
import pandera as pa

In [29]:
@pa.check_output(SchemaCorpApolice,lazy=True)
def retorno_df() -> pd.DataFrame:
    df = pd.DataFrame({
        "cd_apolice": [1, '003'],
        "nm_produto": ["Produto A", "Produto B"],
        "quantidade": [10, 20.999],
        "valor": [1000.0, 1500.0],
        "dt_emissao": [datetime(2024, 1, 1), datetime(2024, 2, 1)],
        "dv_documento_oficial": [True, False]})
    return df

In [ ]:
aa = retorno_df()
#aa.drop('valor',axis=1,inplace=True)

In [ ]:
@pa.check_output(SchemaDimCorpApolice,lazy=True)
@pa.check_input(SchemaCorpApolice,lazy=True)
def retorno_kpi(df:pd.DataFrame) -> pd.DataFrame:
    df['nm_linha_negocio'] = 'Banca'
    df['nm_gestor'] = 'Thiago'
    df['cd_gestor'] = '10'
    return df

In [39]:
retorno_kpi(aa)

,cd_apolice,nm_produto,quantidade,valor,dt_emissao,dv_documento_oficial,nm_linha_negocio,nm_gestor,cd_gestor
0,1,Produto A,10,1000.0,2024-01-01,True,Banca,Thiago,10
1,3,Produto B,20,1500.0,2024-02-01,False,Banca,Thiago,10